.logo-part {
  color: #2e2f42; /* Задает цвет текста для части логотипа (темно-серый) */
}

.logo-header {
  display: flex; /* Устанавливает блок как flex-контейнер для выравнивания вложенных элементов */
  align-items: center; /* Выравнивает элементы по вертикали в центре контейнера */
  margin-right: 76px; /* Добавляет правый внешний отступ в 76px для отступа от следующего элемента */
}

.navigation {
  display: flex; /* Устанавливает контейнер навигации как flex-контейнер для удобного расположения элементов */
  align-items: center; /* Выравнивает элементы по вертикали в центре контейнера */
}

.navig {
  display: flex; /* Делает контейнер flex-контейнером для элементов внутри */
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  gap: 40px; /* Добавляет промежуток в 40px между элементами внутри этого контейнера */
}

.link-nav-studio {
  color: #404bbf; /* Цвет текста для элемента с классом .link-nav-studio (синий) */
}

/*#endregion header*/

/* ----------------section------------- 1 */
.main-page {
  padding: 188px 0px; /* Добавляет внутренние отступы: 188px сверху и 0px снизу */
  background-image: linear-gradient(
      /* Устанавливает фоновое изображение с градиентом сверху вниз */ to bottom,
      /* Направление градиента: сверху вниз */ rgba(46, 47, 66, 0.7),
      /* Цвет градиента с прозрачностью (темно-синий с 70% непрозрачностью) */
        rgba(46, 47, 66, 0.7)
        /* Второй цвет градиента — тот же темно-синий с 70% непрозрачностью */
    ),
    url(../images/people-office.jpg); /* Фоновое изображение (изображение с папки ../images/people-office.jpg) */
  background-repeat: no-repeat; /* Убирает повторение фонового изображения */
  background-position: center center; /* Центрирует фоновое изображение по горизонтали и вертикали */
  background-size: cover; /* Масштабирует изображение, чтобы оно полностью покрывало контейнер, при этом сохраняя пропорции */
  max-width: 1440px; /* Ограничивает максимальную ширину контейнера до 1440px */
  margin: 0 auto; /* Центрирует контейнер по горизонтали с автоматическими внешними отступами слева и справа */
}

.title-one {
  font-weight: 700; /* Устанавливает жирное начертание текста (эквивалент bold) */
  font-size: 56px; /* Устанавливает размер шрифта в 56 пикселей */
  line-height: 1.07; /* Задает высоту строки (межстрочное расстояние) как 1.07 от высоты шрифта */
  letter-spacing: 0.02em; /* Добавляет небольшой промежуток между буквами (0.02em) */
  text-align: center; /* Выравнивает текст по центру */
  color: #fff; /* Устанавливает белый цвет текста */
  max-width: 496px; /* Ограничивает максимальную ширину элемента до 496px */
  min-width: 496px; /* Устанавливает минимальную ширину элемента на 496px, чтобы не сужался на маленьких экранах */
  margin: 0 auto 48px; /* Центрирует элемент по горизонтали и добавляет нижний отступ в 48px */
}

.button {
  background-color: #4d5ae5; /* Устанавливает фоновый цвет кнопки (синий) */
  font-weight: 500; /* Устанавливает полужирное начертание шрифта для текста на кнопке */
  line-height: 1.5; /* Задает высоту строки для текста кнопки (межстрочное расстояние) */
  letter-spacing: 0.04em; /* Увеличивает промежуток между буквами на 0.04em */
  color: #ffffff; /* Цвет текста кнопки (белый) */
  min-width: 169px; /* Устанавливает минимальную ширину кнопки на 169px */
  cursor: pointer; /* Меняет курсор на указатель при наведении на кнопку */
  display: block; /* Делает кнопку блочным элементом, чтобы она занимала всю доступную ширину и располагалась на новой строке */
  padding: 16px 32px; /* Добавляет внутренние отступы: 16px сверху и снизу, 32px слева и справа */
  border-radius: 4px; /* Скругляет углы кнопки с радиусом 4px */
  border: none; /* Убирает стандартные рамки кнопки */
  margin: 48px auto 0; /* Центрирует кнопку по горизонтали и добавляет верхний отступ в 48px */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Добавляет плавный переход для изменения фона при наведении или изменении состояния */
}

.button:hover {
  background-color: #404bbf; /* Изменяет фон кнопки на синий (#404bbf) при наведении мыши на кнопку */
}

.button:focus {
  background-color: #404bbf; /* Изменяет фон кнопки на синий (#404bbf), когда кнопка получает фокус (например, при переходе с помощью клавиши Tab) */
}

/* section 1 end */

/* -------------section 2--------------- */

.section-advantages {
  padding: 120px 0; /* Добавляет внутренние отступы: 120px сверху и снизу секции */
}

.title-two {
  font-weight: 500; /* Устанавливает полужирное начертание текста */
  font-size: 36px; /* Размер шрифта 36px */
  line-height: 1.11; /* Устанавливает высоту строки (межстрочное расстояние) на 1.11 от высоты шрифта */
  letter-spacing: 0.02em; /* Добавляет небольшой промежуток между буквами (0.02em) */
  text-align: center; /* Выравнивает текст по центру */
  text-transform: capitalize; /* Преобразует первый символ каждого слова в верхний регистр (каждое слово начинается с большой буквы) */
  color: #2e2f42; /* Устанавливает темно-серый цвет текста */
}

.advantages {
  display: flex; /* Делает контейнер flex-контейнером для выравнивания вложенных элементов в строку */
  gap: 24px; /* Устанавливает промежуток в 24px между элементами внутри контейнера */
  padding: 0; /* Убирает внутренние отступы в контейнере */
}

.punct {
  display: flex; /* Делает этот элемент flex-контейнером */
  width: 264px; /* Устанавливает ширину элемента в 264px */
  flex-direction: column; /* Направляет дочерние элементы по вертикали (по оси Y) */
  align-items: flex-start; /* Выравнивает дочерние элементы по началу контейнера (по горизонтали) */
  justify-content: flex-start; /* Выравнивает дочерние элементы по началу контейнера (по вертикали) */
  gap: 8px; /* Устанавливает промежуток в 8px между дочерними элементами */
  width: calc(
    (100% - 72px) / 4
  ); /* Вычисляет ширину элемента, деля доступную ширину на 4 и вычитая 72px (например, для отступов между элементами) */
}

.title-three {
  font-weight: 500; /* Устанавливает полужирное начертание текста */
  font-size: 20px; /* Размер шрифта 20px */
  line-height: 1.2; /* Устанавливает высоту строки (межстрочное расстояние) на 1.2 от высоты шрифта */
  letter-spacing: 0.02em; /* Добавляет небольшой промежуток между буквами (0.02em) */
  color: #2e2f42; /* Цвет текста — темно-серый */
  margin-bottom: 8px; /* Устанавливает нижний отступ в 8px */
}

.page-advant {
  font-weight: 400; /* Устанавливает нормальное начертание текста (не жирный) */
  font-size: 16px; /* Размер шрифта 16px */
  line-height: 1.5; /* Высота строки (межстрочное расстояние) составляет 1.5 от высоты шрифта */
  letter-spacing: 0.02em; /* Добавляет небольшой промежуток между буквами (0.02em) */
  color: #434455; /* Цвет текста — темно-серый (#434455) */
}

.icon-advant-block {
  display: flex; /* Делает контейнер flex-контейнером для выравнивания вложенных элементов */
  align-items: center; /* Выравнивает элементы по вертикали по центру контейнера */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру контейнера */
  height: 112px; /* Устанавливает высоту блока на 112px */
  width: 264px; /* Устанавливает ширину блока на 264px */
  border: 1px solid #8e8f99; /* Добавляет рамку вокруг блока толщиной 1px, цвет — серо-голубой (#8e8f99) */
  border-radius: 4px; /* Скругляет углы блока с радиусом 4px */
  background: #f4f4fd; /* Устанавливает светлый фоновый цвет блока (#f4f4fd) */
  margin-bottom: 8px; /* Добавляет нижний отступ в 8px межд*/
}

/* section 2 end */

/* ---------------section 3------------- */
.section-team {
  background-color: #f4f4fd; /* Устанавливает фоновый цвет для секции команды (светло-синий) */
  padding: 120px 0; /* Добавляет внутренние отступы: 120px сверху и снизу секции */
}

.title-two-team {
  margin-bottom: 72px; /* Устанавливает нижний отступ в 72px для заголовка секции команды */
}

.our-team {
  display: flex; /* Делает контейнер flex-контейнером для выравнивания вложенных элементов в строку */
  gap: 24px; /* Устанавливает промежуток в 24px между элементами внутри контейнера */
  padding: 32px 0; /* Добавляет отступы: 32px сверху и снизу контейнера */
}

.team-link {
  align-items: center; /* Выравнивает элементы по вертикали по центру контейнера */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру контейнера */
  flex-direction: column; /* Направляет дочерние элементы по вертикали (по оси Y) */
  gap: 24px; /* Устанавливает промежуток в 24px между дочерними элементами */
  border-radius: 0 0 4px 4px; /* Скругляет только нижние углы (по 4px) */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    /* Создает тень вокруг элемента: первая тень маленькая и светлая */ 0 1px
      1px 0 rgba(46, 47, 66, 0.16),
    /* Вторая тень чуть больше и темнее */ 0 1px 6px 0 rgba(46, 47, 66, 0.08); /* Третья тень более размытого типа, добавляя глубину */
}

.team-link {
  flex-basis: calc(
    (100% - 72px) / 4
  ); /* Определяет ширину элемента в 1/4 от доступного пространства, вычитая 72px для промежутков */
}

.name-prof {
  display: flex; /* Делает контейнер flex-контейнером */
  flex-direction: column; /* Направляет дочерние элементы по вертикали */
  align-items: center; /* Выравнивает дочерние элементы по центру по горизонтали */
  padding: 32px 0px; /* Добавляет отступы 32px сверху и снизу для контейнера */
  text-align: center; /* Выравнивает текст внутри элемента по центру */
}

.team-link {
  background-color: #ffffff; /* Устанавливает фоновый цвет для блока команды в белый */
}

.title-three {
  font-weight: 500; /* Устанавливает полужирное начертание текста */
  font-size: 20px; /* Размер шрифта — 20px */
  line-height: 1.2; /* Высота строки (межстрочное расстояние) 1.2 от высоты шрифта */
  letter-spacing: 0.02em; /* Добавляет промежуток между буквами (0.02em) */
  color: #2e2f42; /* Цвет текста — темно-серый (#2e2f42) */
}

.page {
  font-weight: 400; /* Нормальное начертание текста (не жирное) */
  font-size: 16px; /* Размер шрифта — 16px */
  line-height: 1.5; /* Высота строки (межстрочное расстояние) 1.5 от высоты шрифта */
  letter-spacing: 0.02em; /* Добавляет небольшой промежуток между буквами (0.02em) */
  color: #434455; /* Цвет текста — темно-серый (#434455) */
}

.icon-menu {
  display: flex; /* Делает контейнер flex-контейнером */
  justify-content: center; /* Центрирует дочерние элементы по горизонтали */
  gap: 24px; /* Устанавливает промежуток между элементами внутри контейнера (24px) */
  margin-top: 8px; /* Добавляет верхний отступ в 8px для блока меню */
}

.icon-social {
  display: flex; /* Делает контейнер flex-контейнером для выравнивания иконки */
  align-items: center; /* Выравнивает элементы по вертикали по центру контейнера */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру контейнера */
  width: 40px; /* Устанавливает ширину блока иконки на 40px */
  height: 40px; /* Устанавливает высоту блока иконки на 40px */
  border-radius: 50%; /* Скругляет углы, создавая круглый блок */
  background-color: #4d5ae5; /* Устанавливает фоновый цвет для блока иконки (синий) */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход для изменения цвета за 250 мс */
}

.icon {
  fill: #f4f4fd; /* Задает цвет иконки (светлый цвет — #f4f4fd) */
}

.icon-social:hover {
  background-color: #404bbf; /* При наведении меняет фоновый цвет на темно-синий (#404bbf) */
}

.link-social {
  display: flex; /* Делает контейнер flex-контейнером для выравнивания содержимого */
  align-items: center; /* Выравнивает элементы по вертикали по центру контейнера */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру контейнера */
  width: 100%; /* Устанавливает ширину на 100% от родительского контейнера */
  height: 100%; /* Устанавливает высоту на 100% от родительского контейнера */
  background-color: #4d5ae5; /* Устанавливает фоновый цвет для блока социальной ссылки (синий) */
  border-radius: 50%; /* Скругляет углы блока, создавая круглый элемент */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход для изменения фона за 250 мс */
}

.link-social:hover {
  background-color: #404bbf; /* При наведении меняет фоновый цвет на темно-синий (#404bbf) */
}

.link-social:focus {
  background-color: #404bbf; /* При получении фокуса меняет фоновый цвет на темно-синий (#404bbf) */
}

/* section 3 end  */

/* ----------------section 4-------------- */
.section-portfolio {
  padding: 120px 0; /* Добавляет внутренние отступы: 120px сверху и снизу для секции портфолио */
}

.our-portfolio {
  margin-bottom: 72px; /* Добавляет нижний отступ в 72px для блока "наш портфель" */
}

.portfolio {
  display: flex; /* Создает flex-контейнер для элементов внутри портфолио */
  flex-wrap: wrap; /* Разрешает перенос элементов на новые строки при необходимости */
  row-gap: 60px; /* Устанавливает промежуток между строками в 60px */
  column-gap: 24px; /* Устанавливает промежуток между столбцами в 24px */
}

.portfolio-menu {
  display: flex; /* Создает flex-контейнер для вертикального расположения элементов */
  flex-direction: column; /* Устанавливает вертикальное направление элементов внутри контейнера */
  flex-basis: calc(
    (100% - 48px) / 3
  ); /* Устанавливает ширину элемента как 1/3 доступной ширины минус 48px для промежутков */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход для тени элемента при наведении */
}

.option {
  padding: 32px 16px; /* Добавляет отступы внутри каждого элемента меню (32px сверху/снизу, 16px слева/справа) */
  border: 1px solid #e7e9fc; /* Устанавливает рамку для элемента с светло-синим цветом */
  border-top: none; /* Убирает верхнюю границу у каждого элемента, чтобы она не повторялась */
}

.service {
  margin-bottom: 8px; /* Добавляет нижний отступ в 8px для блока сервиса внутри элемента меню */
}

.portfolio-menu:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    /* Создает легкую тень с небольшим размытием при наведении */ 0px 1px 1px
      rgba(46, 47, 66, 0.16),
    /* Дополнительная тень для добавления объема */ 0px 2px 1px
      rgba(46, 47, 66, 0.08); /* Тень с более выраженным эффектом размытия */
}

.portfolio-menu-list {
  position: relative; /* Устанавливает позиционирование относительно родительского элемента */
  overflow: hidden; /* Прячет все, что выходит за пределы контейнера */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход для тени при изменении состояния элемента */
}

.text-overlay {
  background-color: #4d5ae5; /* Устанавливает фоновый цвет для наложения (синий) */
  color: #f4f4fd; /* Устанавливает цвет текста в светлый оттенок */
  padding: 40px 32px; /* Добавляет отступы внутри блока (40px сверху/снизу, 32px слева/справа) */
  line-height: 1.5; /* Высота строки текста внутри блока (1.5 от размера шрифта) */
  letter-spacing: 0.02em; /* Добавляет небольшой промежуток между буквами (0.02em) */
  position: absolute; /* Абсолютное позиционирование относительно родительского элемента */
  top: 0; /* Привязывает блок к верхней границе родительского элемента */
  left: 0; /* Привязывает блок к левой границе родительского элемента */
  width: 100%; /* Ширина блока 100% от ширины родительского контейнера */
  height: 100%; /* Высота блока 100% от высоты родительского контейнера */
  transform: translateY(
    100%
  ); /* Изначально скрывает блок, сдвигая его вниз за пределы контейнера */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход для анимации сдвига блока */
}

.portfolio-menu:hover .text-overlay {
  transform: translateY(
    0
  ); /* При наведении на родительский элемент блок с текстом сдвигается вверх и становится видимым */
}

/* ------------section 4 end------------ */

/* -----footer-------- */
.footer-own {
  background-color: #2e2f42; /* Устанавливает темный фоновый цвет для подвала */
  height: 312px; /* Устанавливает высоту подвала */
  padding: 100px 0; /* Добавляет внутренние отступы: 100px сверху и снизу */
}

.footer-container {
  display: flex; /* Создает flex-контейнер для элементов в подвале */
  align-items: flex-start; /* Выравнивает элементы по верхнему краю контейнера */
}

.logo-footer {
  display: flex; /* Создает flex-контейнер для логотипа */
  align-items: center; /* Выравнивает элементы логотипа по центру вертикально */
  font-weight: 700; /* Устанавливает жирный шрифт для логотипа */
  font-size: 18px; /* Устанавливает размер шрифта логотипа */
  line-height: 1.16; /* Высота строки для логотипа */
  letter-spacing: 0.03em; /* Устанавливает небольшой промежуток между буквами в логотипе */
  text-transform: uppercase; /* Преобразует текст логотипа в верхний регистр */
  color: #4d5ae5; /* Устанавливает фоновый цвет логотипа в синий */
  margin-bottom: 16px; /* Добавляет отступ снизу от логотипа */
}

.page-footer {
  display: flex; /* Создает flex-контейнер для текста в подвале */
  align-items: center; /* Выравнивает текст по центру вертикально */
  font-weight: 400; /* Устанавливает обычный шрифт для текста в подвале */
  font-size: 16px; /* Размер шрифта для текста в подвале */
  line-height: 1.5; /* Высота строки текста в подвале */
  letter-spacing: 0.02em; /* Устанавливает небольшой промежуток между буквами текста в подвале */
  color: #f4f4fd; /* Цвет текста в подвале (очень светлый) */
  max-width: 264px; /* Ограничивает максимальную ширину блока текста до 264px */
}

.logo-paragraf {
  display: block; /* Устанавливает элемент как блочный, чтобы он занимал всю ширину контейнера */
  margin-right: 120px; /* Добавляет отступ справа от элемента */
}

.logo-footer-past {
  font-weight: 700; /* Устанавливает жирный шрифт для текста */
  font-size: 18px; /* Размер шрифта для текста */
  line-height: 1.16; /* Высота строки для текста */
  letter-spacing: 0.03em; /* Устанавливает небольшой промежуток между буквами */
  text-transform: uppercase; /* Преобразует текст в верхний регистр */
  color: #f4f4fd; /* Цвет текста (очень светлый, почти белый) */
}

.social-media-footer {
  margin-right: 80px; /* Добавляет отступ справа от блока с социальными медиа */
}

.social-media {
  font-weight: 500; /* Средний шрифт для текста */
  font-size: 16px; /* Размер шрифта для текста */
  line-height: 1.5; /* Высота строки текста */
  letter-spacing: 0.02em; /* Немного увеличивает расстояние между буквами */
  color: #fff; /* Цвет текста (белый) */
  margin-bottom: 16px; /* Добавляет отступ снизу для текста */
}

.icon-menu-foot {
  display: flex; /* Создает flex-контейнер для иконок в футере */
  gap: 16px; /* Устанавливает промежуток между иконками (16px) */
}

.icon-social-foot {
  display: flex; /* Используется flexbox для выравнивания элементов внутри контейнера */
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру */
  background: #4d5ae5; /* Устанавливает фоновый цвет для иконки в темный синий */
  width: 40px; /* Устанавливает ширину иконки */
  height: 40px; /* Устанавливает высоту иконки */
  border-radius: 50%; /* Скругляет углы до круга */
}

.link-social-footer {
  display: flex; /* Создает flex-контейнер для элемента-ссылки внутри иконки */
  align-items: center; /* Выравнивает содержимое по вертикали */
  justify-content: center; /* Выравнивает содержимое по горизонтали */
  width: 100%; /* Задает ширину 100% от родительского контейнера */
  height: 100%; /* Задает высоту 100% от родительского контейнера */
  background-color: #4d5ae5; /* Устанавливает фоновый цвет иконки в темный синий */
  border-radius: 50%; /* Скругляет углы до круга */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Добавляет плавный переход фона при наведении/фокусе */
}

.link-social-footer:hover {
  background: #31d0aa; /* Меняет цвет фона на светло-зеленый при наведении */
  transition: 250ms ease-in-out; /* Устанавливает плавный переход с эффектом ease-in-out для фона */
}

.link-social-footer:hover {
  background-color: #31d0aa; /* Задает светло-зеленый цвет фона при наведении (повторное правило, можно удалить одно из них) */
}

.link-social-footer:focus {
  background-color: #31d0aa; /* Меняет цвет фона на светло-зеленый при фокусе на иконке */
}

.subscribe-form {
  display: flex; /* Использует flexbox для выравнивания элементов внутри формы */
  gap: 24px; /* Устанавливает промежуток между элементами внутри формы (24px) */
}

.subscribe-text {
  font-weight: 500; /* Средний шрифт для текста */
  font-size: 16px; /* Размер шрифта для текста */
  line-height: 1.5; /* Высота строки текста для лучшей читаемости */
  letter-spacing: 0.02em; /* Немного увеличивает расстояние между буквами */
  color: #fff; /* Цвет текста (белый) */
  margin-bottom: 16px; /* Добавляет отступ снизу для текста */
}

.form-footer {
  font-size: 12px; /* Устанавливает маленький размер шрифта для поля ввода */
  border: 1px solid #fff; /* Белая рамка вокруг поля ввода */
  border-radius: 4px; /* Скругляет углы поля ввода */
  width: 264px; /* Устанавливает ширину поля ввода */
  height: 40px; /* Устанавливает высоту поля ввода */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); /* Добавляет легкую тень для выделения поля ввода */
  background-color: transparent; /* Делает фон прозрачным для поля ввода */
  line-height: 2; /* Устанавливает высоту строки внутри поля ввода для удобства ввода текста */
  letter-spacing: 0.04em; /* Увеличивает расстояние между буквами внутри поля ввода */
  padding-left: 16px; /* Добавляет отступ слева внутри поля ввода */
  color: #ffffff; /* Белый цвет текста внутри поля ввода */
}

.form-label-footer::placeholder {
  color: #ffffff; /* Белый цвет для текста placeholder (подсказки) в поле ввода */
}

.form-button {
  font-family: "Roboto", sans-serif; /* Использует шрифт Roboto для текста на кнопке */
  min-width: 165px; /* Устанавливает минимальную ширину кнопки (165px) */
  font-size: 16px; /* Устанавливает размер шрифта на кнопке */
  font-weight: 500; /* Средняя жирность шрифта на кнопке */
  line-height: 1.5; /* Высота строки для текста на кнопке для улучшенной читаемости */
  letter-spacing: 0.04em; /* Расстояние между буквами на кнопке */
  text-align: center; /* Выравнивание текста по центру кнопки */
  color: #fff; /* Белый цвет текста на кнопке */
  cursor: pointer; /* Курсор превращается в указатель при наведении на кнопку */
  background-color: #4d5ae5; /* Цвет фона кнопки (синий) */
  border: none; /* Убирает стандартную рамку у кнопки */
  border-radius: 4px; /* Скругляет углы кнопки */
  display: flex; /* Использует flexbox для выравнивания элементов внутри кнопки */
  justify-content: center; /* Центрирует контент по горизонтали в кнопке */
  align-items: center; /* Центрирует контент по вертикали в кнопке */
}

.form-button:hover {
  background-color: #404bbf; /* Изменяет цвет фона кнопки при наведении на более темный синий */
}

.form-button:focus {
  background-color: #404bbf; /* Изменяет цвет фона кнопки при фокусе на нее (например, после клика) */
}

.icon-sabscibe {
  margin-left: 16px; /* Добавляет отступ слева от иконки внутри кнопки */
  fill: #fff; /* Цвет иконки (белый) */
}

/* --------modal-overlay */
.modal-overlay {
  position: fixed; /* Фиксирует элемент относительно окна браузера, чтобы он не прокручивался с содержимым */
  width: 100%; /* Устанавливает ширину элемента на 100% от ширины окна */
  height: 100%; /* Устанавливает высоту элемента на 100% от высоты окна */
  top: 0px; /* Размещает элемент в верхней части окна */
  left: 0px; /* Размещает элемент с левой стороны окна */
  z-index: 999; /* Устанавливает элемент поверх других элементов на странице (с большим значением) */
  background-color: rgba(
    46,
    47,
    66,
    0.4
  ); /* Полупрозрачный темный фон, с прозрачностью 0.4 */
  display: flex; /* Использует flexbox для выравнивания содержимого */
  justify-content: center; /* Выравнивает содержимое по горизонтали (по центру) */
  align-items: center; /* Выравнивает содержимое по вертикали (по центру) */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    /* Плавное изменение прозрачности */ visibility 250ms
      cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение видимости */
  /* opacity: 0;  Скрывает элемент, когда он не активен */
  /* pointer-events: none;  Отключает возможность взаимодействовать с элементом */
}

.modal-overlay.is-open {
  opacity: 1; /* При открытии модального окна устанавливает полную непрозрачность */
  pointer-events: auto; /* Включает возможность взаимодействовать с элементом */
}

.modal {
  border-radius: 4px; /* Закругляет углы модального окна с радиусом 4px */
  width: 408px; /* Устанавливает ширину модального окна */
  min-height: 584px; /* Устанавливает минимальную высоту модального окна */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    /* Легкая тень снизу */ 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    /* Тень чуть более выраженная с правой стороны */ 0 2px 1px 0
      rgba(0, 0, 0, 0.2); /* Тень, создающая глубину */
  background: #fcfcfc; /* Устанавливает светлый фон для модального окна */
  padding: 72px 24px 24px 24px; /* Отступы внутри окна: сверху 72px, остальные 24px */
  position: absolute; /* Позиционирует модальное окно относительно родительского элемента */
  top: 50%; /* Размещает окно на 50% от верхней части родительского элемента */
  left: 50%; /* Размещает окно на 50% от левой стороны родительского элемента */
  transform: translate(
    -50%,
    -50%
  ); /* Сдвигает окно на 50% влево и вверх, чтобы оно было по центру */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход для изменения позиции */
}

.btn-close {
  position: absolute; /* Абсолютное позиционирование кнопки закрытия относительно модального окна */
  top: 24px; /* Отступ от верхней части модального окна */
  right: 24px; /* Отступ от правой части модального окна */
  width: 24px; /* Ширина кнопки закрытия */
  height: 24px; /* Высота кнопки закрытия */
  border-radius: 50%; /* Закругляет углы кнопки, делая её круглой */
  display: flex; /* Использует flexbox для выравнивания содержимого */
  align-items: center; /* Выравнивает иконку по вертикали */
  justify-content: center; /* Выравнивает иконку по горизонтали */
  background-color: #e7e9fc; /* Светлый фон кнопки */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Легкая тень вокруг кнопки */
  padding: 0; /* Убирает внутренние отступы */
  cursor: pointer; /* Изменяет курсор на указатель при наведении */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    /* Плавное изменение фона кнопки */ border 250ms
      cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение границы кнопки */
}

.btn-close:hover {
  border: none; /* Убирает границу при наведении на кнопку */
  background-color: #404bbf; /* Изменяет цвет фона кнопки на синий при наведении */
  fill: #ffffff; /* Изменяет цвет иконки на белый при наведении */
}

.btn-close:focus {
  border: none; /* Убирает границу при фокусе на кнопке */
  background-color: #404bbf; /* Цвет фона кнопки при фокусе */
  fill: #ffffff; /* Цвет иконки при фокусе — белый */
}

.icon-close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение цвета иконки (кнопки закрытия) */
}

.text-modal {
  font-weight: 500; /* Устанавливает жирное начертание шрифта */
  font-size: 16px; /* Размер шрифта */
  line-height: 1.5; /* Высота строки */
  letter-spacing: 0.02em; /* Пробел между буквами */
  text-align: center; /* Выравнивание текста по центру */
  color: #2e2f42; /* Цвет текста */
  margin-bottom: 16px; /* Отступ снизу для текста */
}

.form {
  margin-bottom: 8px; /* Устанавливает небольшой отступ снизу для формы */
}

.form-label {
  font-size: 12px; /* Размер шрифта для метки формы */
  line-height: 1.17; /* Высота строки, чтобы текст не был слишком сжатым */
  letter-spacing: 0.04em; /* Расстояние между буквами */
  color: #8e8f99; /* Цвет метки (серый оттенок) */
  display: block; /* Устанавливает элемент как блочный (чтобы он занимал всю доступную ширину) */
  margin-bottom: 4px; /* Отступ снизу, чтобы отделить метку от поля ввода */
}

.icon-input {
  position: relative; /* Устанавливает позиционирование для родительского контейнера иконки */
}

.form-input {
  width: 100%; /* Поле ввода занимает всю доступную ширину */
  height: 40px; /* Высота поля ввода */
  border: 1px solid rgba(46, 47, 66, 0.4); /* Тонкая серая рамка с прозрачностью */
  border-radius: 4px; /* Скругление углов поля ввода */
  background-color: transparent; /* Прозрачный фон */
  padding-left: 38px; /* Отступ слева для иконки (делает место для иконки слева) */
  outline: transparent; /* Убирает стандартное выделение при фокусе */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение цвета рамки при фокусе */
}

.form-icon {
  position: absolute; /* Позиционирование иконки внутри поля ввода */
  left: 16px; /* Отступ от левого края поля */
  top: 50%; /* Размещение иконки по вертикали (по центру поля ввода) */
  transform: translateY(
    -50%
  ); /* Корректировка положения по вертикали, чтобы иконка была точно по центру */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение цвета иконки */
}

input:focus + svg {
  fill: #4d5ae5; /* Изменяет цвет заливки иконки (svg) при фокусе на поле ввода на #4d5ae5 */
}
input:focus {
  border-color: #4d5ae5; /* При фокусе на поле ввода цвет рамки изменится на #4d5ae5 */
}

.form-textarea {
  margin-bottom: 16px; /* Отступ снизу для текстовой области */
  display: block; /* Блочный элемент, чтобы он занимал всю доступную ширину */
}

.form-input-area {
  font-weight: 400; /* Вес шрифта обычный */
  font-size: 12px; /* Размер шрифта */
  line-height: 1.17; /* Высота строки */
  letter-spacing: 0.04em; /* Расстояние между буквами */
  color: rgba(46, 47, 66, 0.4); /* Цвет текста (полупрозрачный темно-серый) */
  width: 100%; /* Текстовая область будет занимать всю доступную ширину */
  height: 120px; /* Высота текстовой области */
  border: 1px solid rgba(46, 47, 66, 0.4); /* Рамка текстовой области (полупрозрачный серый) */
  border-radius: 4px; /* Скругленные углы рамки */
  background-color: transparent; /* Прозрачный фон */
  padding: 8px 16px; /* Отступы внутри текстовой области */
  outline: transparent; /* Убирает стандартное обводку при фокусе */
  resize: none; /* Отключает возможность изменения размера текстовой области */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавное изменение цвета рамки при фокусе */
}

.form-input-area:focus {
  border-color: #4d5ae5; /* Изменяет цвет рамки текстовой области при фокусе */
}

.checkbox-container {
  margin-bottom: 24px; /* Отступ снизу для контейнера чекбокса */
}

.form-label-privacy {
  font-size: 12px; /* Размер шрифта для текста */
  line-height: 1.17; /* Высота строки */
  letter-spacing: 0.04em; /* Расстояние между буквами */
  color: #8e8f99; /* Цвет текста (полупрозрачный серый) */
}

.form-label-privacy-part {
  width: 16px; /* Ширина чекбокса */
  height: 16px; /* Высота чекбокса */
  border: 1px solid rgba(46, 47, 66, 0.4); /* Легкая рамка для чекбокса */
  border-radius: 2px; /* Скругленные углы */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    /* Плавные переходы */ border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex; /* Блочная модель с выравниванием */
  align-items: center;
  justify-content: center;
  fill: transparent; /* Нет заливки внутри */
}

.input-user-privacy:checked + label > span {
  background-color: #404bbf; /* Изменяет фон на синий, если чекбокс выбран */
  border: none; /* Убирает границу */
  fill: #f4f4fd; /* Задает цвет заливки иконки (например, галочки) */
}

.link-privacy {
  color: #4d5ae5; /* Цвет текста ссылки (синий) */
  text-decoration: underline; /* Подчеркивание текста ссылки */
}

.button-modal {
  font-family: "Roboto", sans-serif; /* Шрифт кнопки */
  font-weight: 500; /* Полужирный шрифт */
  font-size: 16px; /* Размер шрифта */
  line-height: 1.5; /* Высота строки */
  letter-spacing: 0.04em; /* Расстояние между буквами */
  color: #fff; /* Цвет текста (белый) */
  display: block; /* Блочный элемент */
  min-width: 169px; /* Минимальная ширина кнопки */
  height: 56px; /* Высота кнопки */
  cursor: pointer; /* Курсор при наведении — указатель */
  background-color: #4d5ae5; /* Фоновый цвет кнопки (синий) */
  border: none; /* Убираем рамку */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавный переход фона */
  margin: 0 auto; /* Выравнивание кнопки по центру */
}

.button-modal:hover {
  background-color: #404bbf; /* Цвет фона при наведении (темно-синий) */
}

.button-modal:focus {
  background-color: #404bbf; /* Цвет фона при фокусе (темно-синий) */
}
